.users {
    margin: 10px;
}

.buttonBlock {
    text-align: center;
}

.viewAll {
    background-color: #088dcd;
    cursor: pointer;
    border: none;
    height: 30px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    width: 120px;
    outline: none;
}